<!DOCTYPE html>
<html lang="en">
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>


{% csrf_token %}

<head>
    <meta charset="UTF-8">
    <title>Contest</title>
</head>
<body>
When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
<h1>Meow</h1>
$\int_0^\infty x^2 dx$
An example of latex code: \(a \ne 5\)
<h1>{{ contest.headline }}</h1>

<ul>
    {% for problem in contest_problems_list %}
        <li>{{ problem.problem_text }}</li>
    {% endfor %}
</ul>

</body>
</html>