{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Очки</th>
                    {% for theme in themes %}
                    <th> {{ theme }} </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for score in scores %}
                <tr>
                    <td>
                        {{ score }}
                    </td>
                    {% for theme in themes %}
                    <td>
                        Meow
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <ol>
      {% for problem in contest.problem.all %}
          {% csrf_token %}
          <li>{{ problem.problem_text }}</li>
      {% endfor %}
        </ol>
</div>
{% endblock main %}